<header class="breadcrumb">
  <div class="left"> 
    <span nz-icon nzTheme="outline" (click)="toggle()"></span>
  </div>
  <div class="right">
    <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
      <img src="assets/avatar.png">
      <span>姬虚空</span>
      <span nz-icon nzType="down" class="menu-down-icon"></span>
    </a>
  </div>
</header>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item (click)="openGithub()">github地址</li>
    <li nz-menu-item (click)="loginOut()">退出登录</li>
  </ul>
</nz-dropdown-menu>
