.admin-layout {
    display: flex;
    height: 100vh;
    background-color: #eeeeee;

    .sidebar{
        width: 220px;
        flex-shrink: 0;
        background-color: #001529;
        overflow-y: hidden;
    }
    
    .main-area{
        display: flex;
        flex-direction: column;
        flex: 1;        
    }
}